{% extends 'gramfood/base.html.twig' %}

{% block page_title %}

{% endblock %}

{% block stylesheets %}
<!-- Datatables -->
<link
	href="{{ asset('bundles/gentelella-master/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('bundles/gentelella-master/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('bundles/gentelella-master/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
	rel="stylesheet">
	
	<style>
	
	
td.details-control {
 
    background: url('{{ asset('bundles/gramfood/images/details_open.png') }} ') no-repeat center center;

    cursor: pointer;

}

tr.shown td.details-control {

    background: url('{{ asset('bundles/gramfood/images/details_close.png') }} ') no-repeat center center;

}

#loading-div-background{
    z-index: 1060;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    
}

#loading-div{  
    z-index: 1060;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: 5px;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgba(0, 187, 255, 1);

}
	</style>
	
	
{% endblock stylesheets %}

{% block page_content %}

<div class="x_panel">
	<div class="x_title">
		<h2>
			Kompletacje <small>Lista</small>
		</h2>
		<ul class="nav navbar-right panel_toolbox">
			<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
			</li>
			<li class="dropdown"><a class="dropdown-toggle" role="button"
				aria-expanded="false" href="#" data-toggle="dropdown"><i
					class="fa fa-wrench"></i></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Settings 1</a></li>
					<li><a href="#">Settings 2</a></li>
				</ul></li>
			<li><a class="close-link"><i class="fa fa-close"></i></a></li>
		</ul>
		<div class="clearfix"></div>
	</div>

	<div class="x_content">

		{% block body -%}

{# 		<table id="datatable"#}
{# 			class="table table-striped jambo_table bulk_action table-bordered">#}
{# 			<thead>#}
{# 				<tr>#}
{# 					<th>Id</th>#}
{# 					<th>Typ</th>#}
{# 					<th>Rejpar</th>#}
{# 					<th>Rejpro</th>#}
{# 					<th>Nr</th>#}
{# 					<th>Nrr</th>#}
{# 					<th>Dwy</th>#}
{# 					<th>Bank</th>#}
{# 					<th>Bankn</th>#}
{# 				</tr>#}
{# 			</thead>#}
{# 			<tbody>#}
{# 				{% for entity in entities %}#}
{# 				<tr>#}
{# 					<td><button type="button" onclick="location.href='{{ path('gramfood_magazyn_kompletacje_show', { 'id': entity.id }) }}'" class="btn btn-default btn-xs">{{ entity.id }}</button>#}
{# 					 &nbsp; <i style="color: blue" class="fa fa-chain"></i>#}
{# 					</td>#}
{# 					<td>{{ entity.typ }}</td>#}
{# 					<td>{{ entity.rejpar }}</td>#}
{# 					<td>{{ entity.rejpro }}</td>#}
{# 					<td>{{ entity.nr }}</td>#}
{# 					<td>{{ entity.nrr }}</td>#}
{# 					<td>{{ entity.dwy }}</td>#}
{# 					<td>{{ entity.bank }}</td>#}
{# 					<td>{{ entity.bankn }}</td>#}
{# 				</tr>#}
{# 				{% endfor %}#}
{# 			</tbody>#}
{# 		</table>#}

<table id="example" class="table table-striped bulk_action table-bordered"> </table>


		{% endblock %}

	</div>

</div>



     {% include ':gramfood:modelDialog.html.twig' %}   

   <!-- Modal czekaj -->
      <div id="loading-div-background" class="fade bs-example-modal-lg in" >
      <div id="loading-div" class="ui-corner-all">
               <p style="margin: 10px 0px; text-align: center;"><img style="border-radius: 50px;" src="{{ asset('bundles/gramfood/images/loading.gif') }}"></p>
      </div>
      </div>
    </div>
  <!-- Modal czekaj -->  
  
{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- morris.js -->
<script
	src="{{ asset('bundles/gentelella-master/vendors/raphael/raphael.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/morris.js/morris.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script
	src="{{ asset('bundles/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script
	src="{{ asset('bundles/gentelella-master/js/moment/moment.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/js/datepicker/daterangepicker.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ asset('bundles/gentelella-master/js/custom.min.js') }}"></script>

<!-- Datatables -->
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/jszip/dist/jszip.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script
	src="{{ asset('bundles/gentelella-master/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
      
	
<script language="javascript">

// var table2 = $('#datatable').DataTable();

// // Sort by column 1 and then re-draw
// table2
//     .order( [ 0, 'desc' ] )
//     .draw();	

  {% include ':gramfood:jsBase.html.twig' %}  

var dataSet = [

    {% for entity in entities %}
    [
        "",
        "{{ entity[0].id }}",
        "{{ entity[0].typ }}",
        "{{ entity[0].rejpar }}",
        "{{ entity[0].rejpro }}",
        "{{ entity[0].bankn }}",
        "{{ entity[0].bank }}",
        "{{ entity[0].nr }}",
        "{{ entity[0].nrr }}",
        "{{ entity[0].dwy }}",
        "{{ entity[0].bank }}",
        "{{ entity.idkpl }}",
        "{{ entity.idrw }}"
    ],
    {% endfor %}

];


function showRW($nrWiersza, $NrR, $bankN, $idkpl, $idrw)
{
	//alert($id);
    var path = "{{ path('gramfood_magazyn_kompletacje_RwId') }}" ;
    var request = $.ajax({
                        cache:  false,
                        type: "POST",
                        url:    path,
                        data: 'nrr='+$NrR+'&bankN='+$bankN+'&idrw='+$idrw+'&idkpl='+$idkpl,
                        success: function(result){
                        	$('#'+$nrWiersza).html(result);
//                             return '<center><code>'+result+'</code></center>';
//                            alert('#'+$idrw);
                        }
                   });
    
    return '<div id="'+$nrWiersza+'"></div>';
      
};


function format ( d , nrWiersza) {

    // `d` is the original data object for the row

    return '<table width="100%" cellpadding="5" cellspacing="0" border="0" style="padding-left: 50px; border-collapse: separate;">'+

        '<tr>'+

            '<td>'+showRW(nrWiersza, d[4], d[5], d[1], d[12])+'</td>'+

        '</tr>'+



    '</table>';

}




$(document).ready(function() {

	var table = $('#example').DataTable( {
        data: dataSet,
        stateSave: true, //zapamietuje stan tabeli, aby wrocic do tego samego miejsca
        order: [[ 1, 'desc' ]],
        columns: [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "width": "20px", 
                "defaultContent": ''
            },
            { 
                title: "Id",
                "mRender": function ( data, type, full ) { 
                        var out_text ='<button type="button" onclick="location.href=\'{{ path('gramfood_magazyn_kompletacje_lista') }}/'+data+'\'" class="btn btn-default btn-xs">'+data+'</button>';
                        //              '&nbsp; <i style="color: green" class="fa fa-share-alt"></i>'; 
                            
                    return out_text; 
                 }, 
             },
            { title: "Typ",
                 "mRender": function ( data, type, full ) { 
                	 if (full[11] == full[1]) {
             		    var ico = '<i class="fa fa-share-alt green">';
             		} else {
             			var ico = '';
                     	}
                     var out_text = data +' '+ico;
                 return out_text; 
              },                
                },
            { title: "Rejpar" },
            { title: "Rejpro" },
            { title: "Bankn" },
            { title: "Bank (Produkt)",
                "mRender": function ( data, type, full ) { 
                    var out_text ='<button type="button" onclick="show_PW(\''+full[6]+'\')" class="btn btn-default btn-xs">'+full[6]+'</button>';
                    //              '&nbsp; <i style="color: green" class="fa fa-chain"></i>'; 
                        
                return out_text; 
                 }, 
             },
            { title: "Nr" },
            { title: "Nrr" }
        ],
    {% if wz is defined %}

    dom: 'lBfrtip',
    buttons: [
        {
            text: 'Powrót',
            action: function ( ) {
                parent.history.back();
                return false;
            }
        },
       ]
    
    {% endif %}


            
    } );


    // Add event listener for opening and closing details

    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }

        else {
            // Open this row
            row.child( format(row.data(), row.index()) ).show();
            tr.addClass('shown');
        }
    } );

    // jesli w oknie modalnym rozwija szczegóły
    {% if  wz is defined %}
        $('#example tbody').find('td.details-control').trigger('click');
    {% endif %}
    

} );




</script>

{% endblock %}
