

		{% block body -%}

{# 		{{ form(form) }}#}

 {{ form_start(form, {"attr":{"name":"extPow", "id":"formext", 'class':'form-horizontal', 'data-parsley-validate':'data-parsley-validate'}}) }}  
 
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Kod</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form_widget(form.kod, {'value' : rw[0].kod, 'attr': { 'class':'form-control input-sm', 'style':'width: 100%', readonly:'disabled' }}) }}
                                             
                                            </div>
                                        </div>
                                        
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">idKPL</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form_widget(form.idkpl, {'value' : idkpl, 'attr': { 'class':'form-control input-sm', 'style':'width: 100%', readonly:'disabled' }}) }}
                                             
                                            </div>
                                        </div>                                          
                                        
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">idRW</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form_widget(form.idrw, {'value' : rw[0].id, 'attr': { 'class':'form-control input-sm', 'style':'width: 100%', readonly:'disabled' }}) }}
                                             
                                            </div>
                                        </div>   
                                                    
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">idPZ<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-10">
                                            {{ form_widget(form.idpz, {'attr': { 'class':'form-control input-sm', 'style':'width: 100%', required:'required' }}) }}
                                            </div>
                                            <div class="col-md-2 col-sm-1 col-xs-12">
                                            <button class="btn btn-primary" type="button" onClick="wyszukaj_PZ('{{ rw[0].kod }}', '{{ rw[0].nazw }}')" >Wyszukaj</button>
                                            </div>
                                        </div>          
                                                                                                  
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">snPZ<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form_widget(form.snpz, {'attr': { 'class':'form-control input-sm', 'style':'width: 100%',  required:'required' }}) }}
                                             
                                            </div>
                                        </div>    

                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">ilość<span class="required">*</span></label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form_widget(form.il, {'attr': { 'class':'form-control input-sm', 'style':'width: 100%', required:'required' }}) }}
                                             
                                            </div>
                                        </div>    
                                                                                
                                         <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">JM</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            {{ form_widget(form.jm, {'value' : rw[0].jm, 'attr': { 'class':'form-control input-sm', 'style':'width: 100%', readonly:'disabled' }}) }}
                                             
                                            </div>
                                        </div>   
                                        
                                            {{ form_widget(form.uzyt, {'value' : 'app'}) }}
                                            <input id="appbundle_extgramfoodkompow_maxil" type="hidden" value="">
                                            
                                        
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
{#                                                 <button onclick="location.href='{{ path('gramfood_magazyn_kompletacje_lista') }}'" class="btn btn-default" type="button">Cancel</button>#}
                                                <button class="btn btn-primary" type="reset">Reset</button>
                                                 {{ form_widget(form.save,  {'attr': { 'class':'btn btn-primary pull-right' }}) }}
                                            </div>
                                        </div>
                                                                                                                                          
 
 {{ form_end(form) }}
 
 
  
<script language="javascript">


$(document).ready(function() {

		
    var frm = $('#formext');
    frm.submit(function (e) {
    	e.preventDefault();
    	$("#loading-div-background").show();
        closeModal('#Modal1');

    	$.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log('Submission was successful.');
                console.log(data);

              closeModal('#{{modal}}');
              $("#loading-div-background").hide();

              // jesli edycja
                 {% if  idrw is defined %}
                     wyswietl_nrpartii('{{ idrw }}', '{{ rw[0].nazw }}');
                 {% else %}
                     wyswietl_nrpartii('{{ id }}', '{{ rw[0].nazw }}');
                  {% endif %}
                
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
    	
    });

} );

</script>

		{% endblock %}




