{% extends 'gramfood/base.html.twig' %}

{% block page_title %}

{% endblock %}

{% block stylesheets %}
<!-- Datatables -->
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
    rel="stylesheet">
    
    <style>
    </style>
    
    
{% endblock stylesheets %}

{% block page_content %}
{% set page1 = 1 %}

   {% include 'GramfoodMagazynBundle:Default:showPw.html.twig' %}   

    </div>

</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- morris.js -->
<script
    src="{{ asset('bundles/gentelella-master/vendors/raphael/raphael.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/morris.js/morris.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script
    src="{{ asset('bundles/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script
    src="{{ asset('bundles/gentelella-master/js/moment/moment.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/js/datepicker/daterangepicker.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ asset('bundles/gentelella-master/js/custom.min.js') }}"></script>

<!-- Datatables -->
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/jszip/dist/jszip.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/pdfmake/build/pdfmake.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/pdfmake/build/vfs_fonts.js') }}"></script>
      
    
<script language="javascript">
</script>

{% endblock %}
