{% extends 'gramfood/base.html.twig' %}

{% block page_title %}

{% endblock %}

{% block stylesheets %}
<!-- Datatables -->
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}"
    rel="stylesheet">
<link
    href="{{ asset('bundles/gentelella-master/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}"
    rel="stylesheet">
    
{% endblock stylesheets %}

{% block page_content %}




<div class="x_panel">
    <div class="x_title">
        <h2>
            Zaplecze -> Narzędzia <small>Zabezpieczenie tabel (backup)</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" role="button"
                aria-expanded="false" href="#" data-toggle="dropdown"><i
                    class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a></li>
                    <li><a href="#">Settings 2</a></li>
                </ul></li>
            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
    
                  <div class="bs-example" data-example-id="simple-jumbotron">
                    <div class="jumbotron">
                      <div class="ui-pnotify-icon"><span class="glyphicon glyphicon-info-sign"></span></div>
                      <h4 class="ui-pnotify-title">Wykonanie kopi zapasowej tabel SQL</h4>
                      <div class="ui-pnotify-text" aria-role="alert">Wykonanie kopi bazy oraz schematu tabel może potrwać kilka minut.</div>
                    </div>
                  </div>    

        {% block body -%}

             {#      <form action="#" id="formDEL{{ entity.id }}" method="post">  #} 
                     <form id="formBackup" data-parsley-validate class="form-horizontal form-label-left" method="post">
                     
       {#               <div class="form-group">#} 
       {#                 <label class="control-label col-md-3 col-sm-3 col-xs-12">Wybierz tabele</label>#} 
       {#                 <div class="col-md-6 col-sm-6 col-xs-12">#} 
       {#                   <select class="select2_multiple form-control" name="form[table][]" id="form_table" multiple="multiple">#} 
       {#                     <option>ext_gramfoodkompow</option>#} 
       {#                      <option>gramfoodklembowdok</option> #} 
       {#                      <option>gramfoodklembowspec</option> #} 
       {#                   </select>#} 
       {#                 </div>#} 
       {#               </div>#} 
                            <input name="form[_token]" id="form__token" type="hidden" value="crtfg82cd293610b035a6c8f2069e523er45b86f">
                            <input name="form[name]" id="form__name" type="hidden" value="kopia">
                            <button class="btn btn-primary" type="submit">Wykonaj kopie tabel</button>
                    </form> 

        {% endblock %}

    </div>

</div>


{#{ dump(tables) }#}

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- morris.js -->
<script
    src="{{ asset('bundles/gentelella-master/vendors/raphael/raphael.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/vendors/morris.js/morris.min.js') }}"></script>
<!-- bootstrap-progressbar -->
<script
    src="{{ asset('bundles/gentelella-master/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<!-- bootstrap-daterangepicker -->
<script
    src="{{ asset('bundles/gentelella-master/js/moment/moment.min.js') }}"></script>
<script
    src="{{ asset('bundles/gentelella-master/js/datepicker/daterangepicker.js') }}"></script>

<!-- Custom Theme Scripts -->
<script src="{{ asset('bundles/gentelella-master/js/custom.min.js') }}"></script>

    
    
<script language="javascript">


</script>

{% endblock %}
    
